<company>
  <cvc>
    <process>
      <Leave-Management>
        <total-steps>4</total-steps>
        <step1>
          <leave-count>
            <required>true</required>
          </leave-count>
        </step1>
        <step2>
          <Manager-Approval>
            <required>true</required>
          </Manager-Approval>
        </step2>
        <step3>
          <HR-Approval>
            <required>true</required>
          </HR-Approval>
        </step3>
        <step4>
          <send-Email>
            <required>true</required>
          </send-Email>
        </step4>
      </Leave-Management>
    </process>
  </cvc>
  <gvc>
    <process>
      <Leave-Management>
        <total-steps>4</total-steps>
        <step1>
          <leave-count>
            <required>true</required>
          </leave-count>
        </step1>
        <step2>
          <Manager-Approval>
            <required>false</required>
          </Manager-Approval>
        </step2>
        <step3>
          <HR-Approval>
            <required>true</required>
          </HR-Approval>
        </step3>
        <step4>
          <send-Email>
            <required>false</required>
          </send-Email>
        </step4>
      </Leave-Management>
    </process>
  </gvc>
</company>